body{
  background-color: lightyellow;
}
h2{
  color: red;
  font-size: 50px;
  text-align: center;
}
.column {
  width: 500px;
  float: left;
}
.column #one{
  background-color: blue;
}
.column #two{
  background-color: yellow;
}
.column #three{
  background-color: green;
}

img {
  width: 300px;
}
